
<div class="x" style="backgroud-image: url('../../../content/images/test1.png')" >
    <p jhiTranslate="" class="float-left">   © 2020 COVITE,    Tous droits résérvés     </p>
    <p class="float-right" >   Confidentialité  -  Accessibilité  - Conditions   </p>
    <p  class="text-right" >    </p>


        <!--   <div class="row text-center" >
            <div class="logo">
                <div   class="col-md-12 " >
                    <img class="image-responsive" src="../../../content/images/test1.png">
                </div>
            </div>
        </div> -->


</div>


