<div class="row justify-content-center">
    <div   class="col-md-12 " >
        <div class="card jh-card">
            <div class="card-deck">

                <div class="col-12" style="padding:'30px 30px'">

<div>
    <h2 id="page-heading">
        <span jhiTranslate="coviteApp.tarifTransportAnimal.home.title">Tarif Transport Animals</span>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarif-transport-animal" [routerLink]="['/tarif-transport-animal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coviteApp.tarifTransportAnimal.home.createLabel">
            Create a new Tarif Transport Animal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tarifTransportAnimals?.length === 0">
        <span jhiTranslate="coviteApp.tarifTransportAnimal.home.notFound">No tarifTransportAnimals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tarifTransportAnimals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="service"><span jhiTranslate="coviteApp.tarifTransportAnimal.service">Service</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="animal"><span jhiTranslate="coviteApp.tarifTransportAnimal.animal">Animal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="distance"><span jhiTranslate="coviteApp.tarifTransportAnimal.distance">Distance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prix"><span jhiTranslate="coviteApp.tarifTransportAnimal.prix">Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tarifTransportAnimal of tarifTransportAnimals ;trackBy: trackId">
                    <td><a [routerLink]="['/tarif-transport-animal', tarifTransportAnimal.id, 'view']">{{ tarifTransportAnimal.id }}</a></td>
                    <td>{{ tarifTransportAnimal.service }}</td>
                    <td>{{ tarifTransportAnimal.animal }}</td>
                    <td>{{ tarifTransportAnimal.distance }}</td>
                    <td>{{ tarifTransportAnimal.prix }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tarif-transport-animal', tarifTransportAnimal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit"
                                    [routerLink]="['/tarif-transport-animal', tarifTransportAnimal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(tarifTransportAnimal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


</div>
        </div>
    </div>
</div>
</div>

