<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tarif-transport-animal-heading" jhiTranslate="coviteApp.tarifTransportAnimal.home.createOrEditLabel">Create or edit a Tarif Transport Animal</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.tarifTransportAnimal.service" for="field_service">Service</label>
                    <input type="text" class="form-control" name="service" id="field_service"
                           formControlName="service"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.tarifTransportAnimal.animal" for="field_animal">Animal</label>
                    <input type="text" class="form-control" name="animal" id="field_animal"
                           formControlName="animal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.tarifTransportAnimal.distance" for="field_distance">Distance</label>
                    <input type="number" class="form-control" name="distance" id="field_distance"
                           formControlName="distance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.tarifTransportAnimal.prix" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                           formControlName="prix"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
