<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notification">
            <h2><span jhiTranslate="coviteApp.notification.detail.title">Notification</span> {{ notification.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coviteApp.notification.titre">Titre</span></dt>
                <dd>
                    <span>{{ notification.titre }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.notification.client">Client</span></dt>
                <dd>
                    {{ notification.client?.login }}
                </dd>
                <dt><span jhiTranslate="coviteApp.notification.commandeLivraison">Commande Livraison</span></dt>
                <dd>
                    <div *ngIf="notification.commandeLivraison">
                        <a [routerLink]="['/commande-livraison', notification.commandeLivraison?.id, 'view']">{{ notification.commandeLivraison?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coviteApp.notification.commandeLivraisonAnimal">Commande Livraison Animal</span></dt>
                <dd>
                    <div *ngIf="notification.commandeLivraisonAnimal">
                        <a [routerLink]="['/commande-livraison-animal', notification.commandeLivraisonAnimal?.id, 'view']">{{ notification.commandeLivraisonAnimal?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coviteApp.notification.commandeTransport">Commande Transport</span></dt>
                <dd>
                    <div *ngIf="notification.commandeTransport">
                        <a [routerLink]="['/commande-transport', notification.commandeTransport?.id, 'view']">{{ notification.commandeTransport?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notification', notification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
