


<div class="row">

    <div   class="col-md-12 " >

        <div class="card jh-card">
            <div class="card-deck">


<div class="col-md-6 "  *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_LIVREUR']">
    <div class="card shadow">
        <canvas
            baseChart
            [chartType]="'bar'"
            [datasets]="chartDatameryem3"
            [labels]="chartLabelsmeryem3"
            [options]="chartOptionsmeryem3"
            [legend]="true"
        [title]="true">
        </canvas>
    </div>
</div>
</div>

        </div>
    </div>
</div>






