<div>
    <h2 id="page-heading">
        <span jhiTranslate="coviteApp.tarifLivraison.home.title">Tarif Livraisons</span>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarif-livraison" [routerLink]="['/tarif-livraison/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coviteApp.tarifLivraison.home.createLabel">
            Create a new Tarif Livraison
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tarifLivraisons?.length === 0">
        <span jhiTranslate="coviteApp.tarifLivraison.home.notFound">No tarifLivraisons found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tarifLivraisons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="service"><span jhiTranslate="coviteApp.tarifLivraison.service">Service</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="objet"><span jhiTranslate="coviteApp.tarifLivraison.objet">Objet</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="distance"><span jhiTranslate="coviteApp.tarifLivraison.distance">Distance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prix"><span jhiTranslate="coviteApp.tarifLivraison.prix">Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tarifLivraison of tarifLivraisons ;trackBy: trackId">
                    <td><a [routerLink]="['/tarif-livraison', tarifLivraison.id, 'view']">{{ tarifLivraison.id }}</a></td>
                    <td>{{ tarifLivraison.service }}</td>
                    <td>{{ tarifLivraison.objet }}</td>
                    <td>{{ tarifLivraison.distance }}</td>
                    <td>{{ tarifLivraison.prix }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tarif-livraison', tarifLivraison.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit"
                                    [routerLink]="['/tarif-livraison', tarifLivraison.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(tarifLivraison)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
