<div class="row" >
    <div   class="col-md-12 " >

        <div class="card jh-card">
<div class="card-deck">

    <div class="card" routerLink="/tarif-transport">
        <img class="card-img-top" src="../../content/images/imageV.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: 'center'" >Tarifs Transport</h5>
            <p class="card-text">Voir les tarifs transport</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card" routerLink="/tarif-livraison" >
        <img class="card-img-top" src="../../content/images/stylo.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: 'center'">Tarifs Livraison</h5>
            <p class="card-text">Voir les tarifs livraison</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card" routerLink="/tarif-transport-animal" >
        <img class="card-img-top" src="../../content/images/ani.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: 'center'">Trarifs Transport Animaux</h5>
            <p class="card-text">Voit les tarifs pour le transport des animaux</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

    </div>

</div>
</div>
