<div class="row" >
    <div   class="col-md-12 " >
<!--
        <h1 class="display-4 text-center" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <h2 class="display-4 text-center" jhiTranslate="home.subtitle">the all in one solution</h2>-->
        <!--<p class="lead text-center" jhiTranslate="home.subtitle">This is your homepage</p><br><br>-->

       <!--Image LOGOOOOOOO
        <div class="row text-center" >
            <div class="logo">
                <div   class="col-md-12 " >
                    <img src="../../content/images/mi.jpg">
                </div>
            </div>
        </div> -->



        <!-- SLIIDER -->
        <div  class="mimi" >

            <ngb-carousel>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/premiere.png" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white"> </h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/Jaune.png" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white"> </h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/h1.png" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white"> </h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/h2.jpg" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white"> </h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/h3.jpg" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white"> </h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/rire.png" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white"> </h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/soyez.png" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white"> </h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/girlinthecar.jpeg" alt="Delhi Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white">deplacez vous en toute liberté</h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/delivery1.png" alt="Bangalore Metro" style="width:500 px">
                    <div class="carousel-caption">
                        <h1 style="color:white">nos meilleurs maitres sont a votre disposition</h1>
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/delivery-guy.jpeg" alt="Bangalore Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white">nos livreurs sont la pour vous</h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/test1.png" alt="Channai Metro" style=" width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: orange">mais aussi vos animaux</h1>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="d-block w-100" src="../../content/images/map.jpeg" alt="Bangalore Metro" style="width:700 px">
                    <div class="carousel-caption">
                        <h1 style="color: white">itineéraire simplifié</h1>
                    </div>
                </ng-template>

            </ngb-carousel>

        </div>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
               <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                     [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
            </div>

        </div>


        <br> <br> <br><br> <br> <br> <br><br> <br> <br>

        <div _ngcontent-c5 class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

        <h1 class="display-4 text-center" style="color: white">Une application de tous les jours simplifie</h1>

        </div>

        <br> <br>
        <div _ngcontent-c5 class="container-fluid mt--7">

        <div class="row text-center" >
            <div class="couverture" >
                <div   class="col-md-12" >
                    <img class="img-responsive" src="../../content/images/gris3.png">
                </div>
            </div>
        </div>
       </div>

        <br> <br> <br><br> <br> <br> <br> <br><br>

            <div class="card-deck" *jhiHasAnyAuthority="'ROLE_USER'">

                <div class="card" routerLink="/commande-transport/new">
                    <img class="card-img-top" src="../../content/images/bent.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: 'center'">Commande Transport</h5>
                        <p class="card-text" style="font-weight:'bold'">Nous vous accompagnons dans vos déplacements, nous somme à l'écoute de toutes les demandes de notre clientel et proposons un service personalisé.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card" routerLink="/commande-livraison/new">
                    <img class="card-img-top" src="../../content/images/delivery1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: 'center'">Commande Livraison</h5>
                        <p class="card-text" style="font-weight:'bold'">Suivant la destination et suivant vos besoins, nous vous faisons livrez en un clic !</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card" routerLink="/commande-livraison-animal/new">
                    <img class="card-img-top" src="../../content/images/ch.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: 'center'">Commande transport Animal</h5>
                        <p class="card-text" style="font-weight:'bold'" >Besoin de vous déplacer avec votre animal avec tout confort,
                            petite virée chez le vétérinaire ? <br> Nous proposons l'auto special animal adéquate !</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
</div>

<br>



<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="m-b-40">  <br> </h1>
            <h1 class="m-b-20"><strong> Allezz fait VITEEE et passe ta commande chez COVITEEE ;) !!! </strong></h1>
        </div>
    </div>
</div>


<br><br>

<div class="col-md-12">
    <div class="float-left">
        <img src="../../content/images/yed.png" alt="" style="width:640px; height:400px ; margin-right:3rem;" >
    </div>

    <br><br><br><br><br>

    <div class="new-feature" >
        <div class="new-feature-image"></div>
        <div class="container">
            <div class="col-lg-5 offset-lg-6">
                <h2 class="m-b-20 text-center"> Difficile de prendre les transport en commun ? </h2>
                <h1 class="m-b-20 text-center"><strong>La solution est entre vos mains</strong></h1>
                <p></p>

            </div>
        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br>

<div class="col-md-12">
        <div class="float-right">
            <img src="../../content/images/personne.png"alt="" style="width:630px; height:400px ; margin-right:3rem;" >
        </div>

    <br><br>

    <div class="new-feature" >
        <div class="new-feature-image" style="background-image: url('../../content/images/merci.png')"></div>

            <div class="col-md-6">
                <br><br><br><br>
                <h2  class="m-b-20 text-center" >Faites un tour en toute tranquilité</h2>
                <h1 class="m-b-20 text-center"></h1>
        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="col-md-12">
    <div class="float-left">
        <img src="../../content/images/commander.png"  alt="" style="width:630px; height:400px ; margin-right:3rem;" >
    </div>

    <br><br><br><br><br><br>

    <div class="new-feature" id="new-feature-1">
        <div class="new-feature-image" ></div>
        <div class="container">
            <div class="col-lg-5 offset-lg-6">
                <h2  class="m-b-20 text-center" >PAS BESOINS DE BOUGER.COMMANDEZ ? </h2>
                <h1 class="m-b-20 text-center"> On vous fait livrer.</h1>
                <p></p>

            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>

<div class="col-md-12">
    <div class="float-right">
        <img src="../../content/images/winou.png" alt="" style="width:610px; height:400px ; margin-right:3rem;" >
    </div>

    <br><br><br><br><br>

    <div class="new-feature" >
        <div class="new-feature-image" ></div>

        <div class="col-md-6">
            <br><br><br><br>
            <h2  class="m-b-20 text-center" > Pour une premiere, meme votre animal peut vous accompagner dans votre sortie !!!</h2>
            <h1 class="m-b-20 text-center">  </h1>
        </div>
    </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br>


<div class="col-md-12">
    <div class="float-left">
        <img src="../../content/images/merci.png"  alt="" style="width:630px; height:400px ; margin-right:3rem;" >
    </div>

<br><br><br><br><br><br><br>

<div class="new-feature" >
    <div class="new-feature-image" style="background-image: url('../../content/images/driver.jpeg')"></div>

          <div class="col-lg-6 offset-lg-6">
                <h2 class="m-b-20 text-center" > Covite propose une large sélection de services, pour vous faciliter la vie sans <br> vous ruiner.</h2>
                <!-- <h1 class="m-b-20 text-center">Alors pour ça, merci COVITEE !</h1> -->
                <p></p>
            </div>
    </div>
</div>

<br><br><br><br><br><br><br>


 <div class="container">
            <div class="row text-center">
                <div class="col-md-12">

                    <h1 class="m-b-20"><strong> Alors pour ça, merci COVITEE ! </strong></h1>

                </div>
            </div>
</div>


<!--
<div class="xx">
<p><img src="../../content/images/merci.png" alt=""/> Texte texte texte texte</p>
</div> -->
