<div>
    <h2 id="page-heading">
        <span jhiTranslate="coviteApp.commandeLivraisonAnimal.home.title">Commande Livraison Animals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande-livraison-animal" [routerLink]="['/commande-livraison-animal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="coviteApp.commandeLivraisonAnimal.home.createLabel">
            Create a new Commande Livraison Animal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commandeLivraisonAnimals?.length === 0">
        <span jhiTranslate="coviteApp.commandeLivraisonAnimal.home.notFound">No commandeLivraisonAnimals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commandeLivraisonAnimals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresseDepart"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.adresseDepart">Adresse Depart</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresseArrivee"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.adresseArrivee">Adresse Arrivee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="animal"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.animal">Animal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="moyenDeTransport"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.moyenDeTransport">Moyen De Transport</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroClient"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.numeroClient">Numero Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prix"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.prix">Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateheure"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.dateheure">Dateheure</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cvalider"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.cvalider">Cvalider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="client.login"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.client">Client</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="livreur.login"><span jhiTranslate="coviteApp.commandeLivraisonAnimal.livreur">Livreur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commandeLivraisonAnimal of commandeLivraisonAnimals ;trackBy: trackId">
                    <td><a [routerLink]="['/commande-livraison-animal', commandeLivraisonAnimal.id, 'view']">{{ commandeLivraisonAnimal.id }}</a></td>
                    <td>{{ commandeLivraisonAnimal.adresseDepart }}</td>
                    <td>{{ commandeLivraisonAnimal.adresseArrivee }}</td>
                    <td>{{ commandeLivraisonAnimal.animal }}</td>
                    <td>{{ commandeLivraisonAnimal.moyenDeTransport }}</td>
                    <td>{{ commandeLivraisonAnimal.numeroClient }}</td>
                    <td>{{ commandeLivraisonAnimal.prix }}</td>
                    <td>{{ commandeLivraisonAnimal.dateheure | date:'medium' }}</td>
                    <td>{{ commandeLivraisonAnimal.cvalider }}</td>
                    <td>
                        {{ commandeLivraisonAnimal.client?.login }}
                    </td>
                    <td>
                        {{ commandeLivraisonAnimal.livreur?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/commande-livraison-animal', commandeLivraisonAnimal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/commande-livraison-animal', commandeLivraisonAnimal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commandeLivraisonAnimal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="commandeLivraisonAnimals?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
