<div class="row justify-content-center">
    <div   class="col-md-12 " >
        <div class="card jh-card">
            <div class="card-deck">

                <div class="col-12" style="padding:'30px 500px'">

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-livraison-animal-heading" jhiTranslate="coviteApp.commandeLivraisonAnimal.home.createOrEditLabel">Create or edit a Commande Livraison Animal</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.adresseDepart" for="field_adresseDepart">Adresse Depart</label>
                    <input type="text" class="form-control" name="adresseDepart" id="field_adresseDepart"
                           formControlName="adresseDepart"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.adresseArrivee" for="field_adresseArrivee">Adresse Arrivee</label>
                    <input type="text" class="form-control" name="adresseArrivee" id="field_adresseArrivee"
                           formControlName="adresseArrivee"/>
                    <div *ngIf="editForm.get('adresseArrivee')!.invalid && (editForm.get('adresseArrivee')!.dirty || editForm.get('adresseArrivee')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adresseArrivee')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.dateHeure" for="field_dateHeure">Date Heure</label>
                    <div class="input-group">
                        <input id="field_dateHeure" type="text" class="form-control" name="dateHeure" ngbDatepicker #dateHeureDp="ngbDatepicker" formControlName="dateHeure"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateHeureDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateHeure')!.invalid && (editForm.get('dateHeure')!.dirty || editForm.get('dateHeure')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateHeure')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.animal" for="field_animal">Animal</label>
                    <input type="text" class="form-control" name="animal" id="field_animal"
                           formControlName="animal"/>
                    <div *ngIf="editForm.get('animal')!.invalid && (editForm.get('animal')!.dirty || editForm.get('animal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('animal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.moyenDeTransport" for="field_moyenDeTransport">Moyen De Transport</label>
                    <input type="text" class="form-control" name="moyenDeTransport" id="field_moyenDeTransport"
                           formControlName="moyenDeTransport"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.numeroClient" for="field_numeroClient">Numero Client</label>
                    <input type="text" class="form-control" name="numeroClient" id="field_numeroClient"
                           formControlName="numeroClient"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.prix" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                           formControlName="prix"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.validated" for="field_validated">Validated</label>
                    <input type="checkbox" class="form-control" name="validated" id="field_validated"
                           formControlName="validated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coviteApp.commandeLivraisonAnimal.livreur" for="field_livreur">Livreur</label>
                    <select class="form-control" id="field_livreur" name="livreur" formControlName="livreur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('livreur')!.value?.id ? editForm.get('livreur')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>


                    <br> <br>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-12">

                                <h1 class="m-b-20" style="color:red"><strong>* NOUS INFORMONS NOTRE CHERE CLIENTEL QUE LE PAIEMENT SE FAIT UNIQUEMENT PAR ESPECE * </strong></h1>
                            </div>
                        </div>
                    </div>


    </div>
</div>
        </div>
    </div>
</div>

