<div class="row justify-content-center">
    <div   class="col-md-12 " >
        <div class="card jh-card">
            <div class="card-deck">

                <div class="col-12" style="padding:'30px 500px'">


        <div *ngIf="commandeLivraisonAnimal">
            <h2><span jhiTranslate="coviteApp.commandeLivraisonAnimal.detail.title">Commande Livraison Animal</span> {{ commandeLivraisonAnimal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.adresseDepart">Adresse Depart</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.adresseDepart }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.adresseArrivee">Adresse Arrivee</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.adresseArrivee }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.animal">Animal</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.animal }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.moyenDeTransport">Moyen De Transport</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.moyenDeTransport }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.numeroClient">Numero Client</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.numeroClient }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.prix">Prix</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.prix }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.dateheure">Dateheure</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.dateheure }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.cvalider">Cvalider</span></dt>
                <dd>
                    <span>{{ commandeLivraisonAnimal.cvalider }}</span>
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.client">Client</span></dt>
                <dd>
                    {{ commandeLivraisonAnimal.client?.login }}
                </dd>
                <dt><span jhiTranslate="coviteApp.commandeLivraisonAnimal.livreur">Livreur</span></dt>
                <dd>
                    {{ commandeLivraisonAnimal.livreur?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commande-livraison-animal', commandeLivraisonAnimal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>

        </div>
    </div>
</div>
